<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dkd.manage.mapper.TaskDetailsMapper">
    
    <insert id="insertBatch">
        insert into tb_task_details(task_id, channel_code, expect_capacity, sku_id, sku_name, sku_image) values
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.taskId}, #{item.channelCode}, #{item.expectCapacity}, #{item.skuId}, #{item.skuName}, #{item.skuImage})
        </foreach>
    </insert>

</mapper>
